<section class="main">
  <!-- <div><img src="" alt="" class="img"></div> -->
  <div>
      <h2>Hello I'm Amr <br><span>Software Developer</span></h2>
      <h3>I build Software Applications</h3>
      <a href="https://drive.google.com/file/d/1C1a-p8hjZaMWMvpunI3XxkdklnyB0MU5/view?usp=sharing" target="_blank" class="main-btn">View My Resume</a>
      <div class="social-media">
          <a href="https://www.linkedin.com/in/amr-matarek-72839b244/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/Amr11matarek" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
  </div>
</section>

